#content{
  margin-bottom: 150px;
}
.content{
  margin-top: 150px;
  margin-bottom: 350px;
}
.page-head{
  margin-top: 25px;
  background-color: #fbfbfb;
  border-style: solid;
  border-color: #ddd;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
}
h3{
  margin-top: 10px;
  font-size: medium;
}

.form{
  margin-top: 50px;
}
.hint_input{
  color: #737373;
}

.btn{
  color: #fff;
  background-color: #337ab7;
  border-color: #204d74;
}

.btn:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.legend{
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 25px;
}
p{
  display: inline;
}
.butonSwitch{
  margin-top: 10px;
  margin-bottom: 10px;
}
#rnrText{
  color: #737373;
  display: block;
  margin-top: 5px;
}
mat-form-field{
  width: 100%;
}
