<div class="content container">
<div class="row">
    <div class="page-head col-md-12 col-sm-12">
      <h1>
        Plateforme manifestationsportives en ligne
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h2>Présentation</h2>
      <p>
        Cette plateforme et l'ensemble des services qui y sont proposés sont réservés aux organisateurs d'évènements
        sportifs du département soumis à démarche administrative de déclaration ou d'autorisation.
      </p>
      <p>
        Vous organisez une manifestation sportive terrestre sur la voie publique
        ne comportant pas la participation de véhicules terrestres à moteur :
      </p>
      <ul>
        <li>Il s'agit une compétition avec classement et/ou chronométrage et/ou vitesse ou moyenne imposée</li>

        <li>Elle prévoit la circulation groupée de plus de 75 piétons, plus de 50 cycles ou autres véhicules
          ou engins non motorisés, plus de 25 chevaux ou autres animaux
        <strong>
          <a routerLink="sign-in">alors vous devez vous inscrire sur la plateforme
          pour effectuer votre démarche.</a>
        </strong>
        </li>
      </ul>
      <p>
        Vous organisez une manifestationsportive nautique
        <strong>suivez la procédure accompagnée</strong>
        afin d'identifier si vous devez vous inscrire sur la plateforme pour effectuer votre démarche.
      </p>
      <p>
        Vous organisez un évènement sportif terrestre comportant la participation de véhicules terrestres
        à moteur sur la voie publique ou sur un circuit terain ou parcours
      <strong>
        <a routerLink="sign-in">alors vous devez vous inscrire sur la plateforme
        pour effectuer votre démarche.</a>
      </strong>
      </p>
      <p>Général</p>
    </div>
</div>
</div>
