.content{
  margin-top: 150px;
  margin-bottom: 400px;
}
.page-head{
  background-color: #fbfbfb;
  border-color: #ddd;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  font-size: 15px;
}
h1 {
  display: block;
  font-size: 2em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  font-style: italic;
}
h2 {
  font-size: 17px;
  color: #015a70;
  margin-top: 30px;

}
