<div class="content">
<div class="ContentBlueCadre row">
	<div class="blueRectangle col-md-6 col-sm-12 col-lg-6">
		<div class="borderBoxWhite">
			<h1 class="h1Home text-center">MANIFESTATIONS SPORTIVES <br>
			<strong class="text-center">PLATEFORME NATIONALE</strong></h1>
		</div>
	</div>

	<div class="blueRectangle col-md-6 col-sm-12 col-lg-6">
		<div class="borderBoxWhite cadreRF">
			<div class="logoRF">
				<img alt="logo republic Française" src="/assets/img/Logo_de_la_Republique_francaise_102x60.png">
			</div>
			<span class="textLogoRF">Ministère de la ville, de la jeunesse et des sports</span>
		</div>
	</div>
</div>
<div class="ContentWhiteCadre row">
	<div class="whiteRectangle col-md-6 col-sm-12" *ngIf="!authenticate">
		<div class="greyBox">
			<a routerLink="/sign-in" class="btn btn-block">
			<h2>inscription</h2>
			<span class="rowtext">Organisateurs d'évenements sportifs, inscrivez-vous !</span>
			<i class="greenIcon fa fa-user-plus" aria-hidden="true"></i>
			</a>
		</div>
	</div>

  <div class="whiteRectangle col-md-6 col-sm-12" *ngIf="authenticate">
    <div class="greyBox">
      <a routerLink="/calendrier" class="btn btn-block">
        <h2>Calendrier</h2>
        <span class="rowtext">Les manifestations sportives sur le département</span>
        <i class="greenIcon fas fa-calendar-alt" aria-hidden="true"></i>
      </a>
    </div>
  </div>

	<div class="whiteRectangle col-md-6 col-sm-12">
		<div class="greyBox">
			<a routerLink="/aide" class="butonHome btn btn-block">
			<h2>Aide & infos</h2>
			<span class="rowtext">Espace dédié aux organisateurs, fédérations et services instructeurs</span>
			<i class="greenIcon fa fa-life-ring" aria-hidden="true"></i>
			</a>
		</div>
	</div>

</div>

</div>




