.content{
	margin-left: 10%;
  box-sizing: border-box;
}


.blueRectangle {
	background-color: #015A70;
  width: 100%;

}

.borderBoxWhite {
	border: 1.5px solid white;
	margin-top: 30px;
	margin-bottom: 30px;
	height: auto;
}

.h1Home {
	color: white;
	margin-top: 20px;
	font-size: 1.4em;
	font-style: initial;
	line-height: 1.6em;
	margin-top: 20px;
}

.cadreRF {
	display: table;
}

.logoRF {
	margin-top: 25px;
	margin-left: 20px;
}

.textLogoRF {
	color: white;
	display: table-cell;
	padding-left: 20px;
	font-size: 0.8em;
	text-transform: uppercase;
	vertical-align: middle;
}

.whiteRectangle {
	background-color: white;
	margin-bottom: 15%;

}
.greyBox{
	background-color: #857865;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 330px;
	margin-left: 20px;
	height: 140px;
}
.greyBox:hover {
	background-color: #9aa400;

}

a:hover>i{
	background-color: #857865;
}

h2{
	font-size: 1.5em;
	text-transform: uppercase;
	color: white;
	text-align: center;
}
.rowtext{
	color: white;
	white-space:normal;
}
i{
    background-color: #9aa400;
    border-radius: 28px;
    color: #ffffff;
    display: block;
    height: 56px;
    left: 10px;
    padding-top: 13px;
    position: absolute;
    width: 57px;
    font-size: 2em;
    top: 40px;
}


.greenIcon{
	margin-top: 40px;
}



.buttonHome a i {
    background-color: #9aa400;
    border-radius: 28px;
    color: #ffffff;
    display: block;
    height: 56px;
    left: 10px;
    padding-top: 13px;
    position: absolute;
    width: 57px;
    font-size: 2.2em;
    top: 40px;
}
a{
  height: 100%;
}
@media screen and (max-width: 414px){
  .content{
    margin-top: 150px;
    margin-bottom: 200px;
  }
  .blueRectangle{
    width: 100%;
  }
  .ContentWhiteCadre{
   display: inline;
  }
}
