  <div class="content container">
  <div class="row">
  <div class="page-head offset-md-2 col-md-8">
    <h1>Sélectionnez le type de manifestation sportive que vous souhaitez organiser</h1>
  </div>
  </div>
  <div class="row">

    <div class="link-choose offset-md-2 col-md-8">
      <a routerLink="/dept/choose/motorized" class="list-group-item">
        <h3 class="choose">
          <i class="fas fa-car"></i>
          Manifestation sportive avec participation de véhicules terrestres à moteur *
        </h3>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <a routerLink="/dept/choose/motorized-vehicle-none" class="list-group-item">
        <h3 class="choose">
        <span class="fa-stack faGlob">
          <i class="fa-stack-1x fas fa-car"></i>
          <i class="fa-stack-2x fa fa-ban text-danger"></i>
        </span>
          Manifestation sportive sans participation de véhicules terrestres à moteur *
        </h3>
      </a>
    </div>
  </div>
  <div class="row">
    <p class="Ctext offset-md-2 col-md-8">* La notion de véhicules terrestres à moteur concerne les participants
      à la manifestation</p>
  </div>
</div>
