#head{
  margin-bottom: 25px;
  font-family: "Lato", "Open Sans", "Helvetica Neue";
}
.head{
	background-color: #869200;
  position: fixed;
  z-index: 5000;
  right: 0;
  left: 0;
  top : 0;
}

.btn:hover, .btn:active, .btn:visited {
  background-color: #617001;
  color:white;
	border: none;
}

.image{
	display: flex;
	margin-top: 10px;
	float: left;
}
.buttonLog{
	float: right;
	margin-top: 20px;

}
.fas{
  color: white;
}
#navbarText{
  float: right;
}
