<div id="head">
<div class="head container-fluid">
  <div class="row">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="offset-md-2 col-md-6">
  <a class="navbar-brand" routerLink="/home"><img src="/assets/img/Logo_Manifestation_Sportive_260x70.png"
                                                  alt="WebSite Logo" width="204.28" height="55"></a>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse offset-md-2" id="navbarText" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/dashboard" class="btn" style="color: white" *ngIf="authenticate"><i class="fas fa-tachometer-alt"></i> Tableau de bord organisateur</a>
      </li>
      <li class="nav-item">
        <a routerLink="/authorizations/dashboard" class="btn" style="color: white" *ngIf="authenticate"><i class="fas fa-tachometer-alt"></i> Tableau de bord instructeur</a>
      </li>
      <li class="nav-item">
        <a class="btn" style="color: white"
           (click)="logout()"
           routerLink="/logout"
           *ngIf="authenticate"><i class="fas fa-sign-out-alt"></i> Déconexion</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="btn" *ngIf="!authenticate"><i class="fas fa-sign-in-alt"></i> Connexion</a>
      </li>


    </ul>
  </div>
</nav>
</div>
</div>
</div>
