.footer{
	background-color: #9aa400;
	position: fixed;
	bottom:0;
	z-index: 5000;
  font-family: "Lato", "Open Sans", "Helvetica Neue";
}
.textFooter{
	color: white;
}
.summary {
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 2%;
}
.footerInfo{
	background-color: #015A70;
}
a{
	color: white;
	text-transform: uppercase;
}
