<div class="footer container-fluid">
	<div class="textFooter offset-md-2 col-md-8 offset-md-2">
		<p class="summary text-align-center">
			Plateforme web simplifiant considérablement les démarches entre les organisateurs d'événements sportifs, l'État et l'ensemble des services consultés pour avis.
		</p>
		<div class="footerInfo text-center">
			<a href="https://www.openscop.fr/">openscop</a>
			<span> | 13/04/2017 - VERSION 3.016 |</span>
			<a routerLink="/mentions-legales"> mention légale</a>
      <span> | </span>
			<a routerLink="/CGU">Conditions Générales d'Utilisation</a>
		</div>
	</div>
</div>
