<div class="content container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="page-head">
        <h1>Inscription</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="legend">
        <h3>Organisateur</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div>
        <p class="form-info">Veuillez renseigner votre identité en tant que représentant de la structure au compte de
          laquelle vous effectuez la déclaration ou la demande d'autorisation.</p>
      </div>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="prenom"><strong>Prénom du déclarant*</strong></label>
          <input type="text" id="prenom" class="form-control" name="prenom">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="name"><strong>Nom du déclarant*</strong></label>
          <input type="text" id="name" class="form-control" name="name">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="username"><strong>Nom d'utilisateur*</strong></label>
          <input type="text" id="username" class="form-control" name="username" placeholder="Pseudo">
          <p class="hint_input">le nom d'utilisateur vous servira comme identifiant lors de la connexion au site</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="mail"><strong>E-mail*</strong></label>
          <input type="email" id="mail" class="form-control" name="mail" placeholder="Adresse e-mail">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="password"><strong>Mot de passe*</strong></label>
          <input type="password" id="password" class="form-control" placeholder="Mot de passe" name="password" ngModel>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="passwordAgain"><strong>Mot de passe (à nouveau)*</strong></label>
          <input type="password" id="passwordAgain" class="form-control" placeholder="Mot de passe (à nouveau)"
                 name="passwordAgain">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <input type="checkbox" id="s">
          <label for="s">En cochant cette case, j'accepte les</label>
          <a routerLink="#">Conditions Générales d'Utilisation</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="legend">
          <h3>Structure</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label id="structurePath" for="structureName"><strong>Nom de la structure*</strong></label>
          <input type="text" id="structureName" class="form-control" name="structureName">
          <p class="hint_input">Précisez le nom de la structure organisatrice (nom de l'association ou du club, de la
            société ou de la personne physique s'il s'agit d'un particulier) de la manifestation</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="structure-juridique"><strong>Forme juridique de la structure*</strong></label>
          <select class="form-control" id="structure-juridique">
            <option>----------</option>
            <option>Association Loi 1901</option>
            <option>Autoentrepreneur</option>
            <option>Collectivité Locale</option>
            <option>EI</option>
            <option>EIRL</option>
            <option>EURL</option>
            <option>GIE</option>
            <option>Personne Physique</option>
            <option>SA</option>
            <option>SARL</option>
            <option>SAS</option>
            <option>SASU</option>
            <option>SCI</option>
            <option>Service De L'Etat</option>
            <option>Service Départemental</option>
            <option>SNC</option>
          </select>
          <p class="hint_input">Opérez votre choix parmi les statuts juridiques proposés</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="adress"><strong>Adresse*</strong></label>
          <input id="adress" type="text" class="form-control" name="adress">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <mat-form-field>
          <mat-select [(value)]="selectedCommuneDepartement" placeholder="departement">
            <mat-option>-----</mat-option>

            <mat-option *ngFor="let dep of departementOfAin"
                        (click)="communesAin()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAisne"
                        (click)="communesAisne()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAllier"
                        (click)="communesAllier()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAlpesHp"
                        (click)="communesAlpesHp()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfHautesAlpes"
                        (click)="communesHautesAlpes()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAlpesMaritimes"
                        (click)="communesAlpesMaritimes()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfArdeche"
                        (click)="communesArdeche()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfArdennes"
                        (click)="communesArdennes()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAriege"
                        (click)="communesAriege()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAube"
                        (click)="communesAube()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAude"
                        (click)="communesAude()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfAveyron"
                        (click)="communesAveyron()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfBouchesDuRhone"
                        (click)="communesBouchesDuRhone()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCalvados"
                        (click)="communesCalvados()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCantal"
                        (click)="communesCantal()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCharente"
                        (click)="communesCharente()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCharenteMaritime"
                        (click)="communesCharenteMaritime()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCher"
                        (click)="communesCher()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCorreze"
                        (click)="communesCorreze()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCorseduSud"
                        (click)="communesCorseduSud()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfHauteCorse"
                        (click)="communesHauteCorse()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCote_d_or"
                        (click)="communesCote_d_or()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCotes_d_Armor"
                        (click)="communesCotes_d_Armor()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfCreuse"
                        (click)="communesCreuse()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfDordogne"
                        (click)="communesDordogne()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfDoubs"
                        (click)="communesDoubs()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfDrome"
                        (click)="communesDrome()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfEure"
                        (click)="communesEure()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfEureEtLoir"
                        (click)="communesEureEtLoir()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfFinistere"
                        (click)="communesFinistere()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfGard"
                        (click)="communesGard()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

            <mat-option *ngFor="let dep of departementOfHauteGaronne"
                        (click)="communesHauteGaronne()"
                        value={{dep.departement_name}}
            >{{dep.departement_name}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <mat-form-field>
          <mat-select placeholder="communes">
            <mat-option>---------</mat-option>

            <mat-option *ngFor="let commune of communesOfAin | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAisne | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAllier | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAlpesHp | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfHautesAlpes | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAlpesMaritimes | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfArdeche | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfArdennes | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAriege | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAube | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAude | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfAveyron | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfBouchesDuRhone | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCalvados | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCantal | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCharente | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCharenteMaritime | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCher | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCorreze | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCorseduSud | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfHauteCorse | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCote_d_or | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCotes_d_Armor | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfCreuse | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfDordogne | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfDoubs | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfDrome | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfEure | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfEureEtLoir | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfFinistere | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfGard | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

            <mat-option *ngFor="let commune of communesOfHauteGaronne | async" value={{commune.name}}>{{commune.zip_code}} -
              {{commune.name}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="number-phone"><strong>Numéro de téléphone*</strong></label>
          <input id="number-phone" class="form-control" type="text" name="number-phone">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <label for="website"><strong>Site web</strong></label>
          <input id="website" class="form-control" type="text" name="website">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Inscription">
        </div>
      </div>
    </div>

  </form>
</div>
