.content{
  margin-top: 150px;
  margin-bottom: 400px;
}
h1 {
  margin: 35px 0;
  color: #015a70;
  font-size: 19px;
  font-style: italic;
  letter-spacing: 0.1em;
}
.page-head{
  background-color: white;
  border-color: #ddd;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width:5px;
  border-left-width: 0px;
  border-style: solid;
}
.legend{
  margin-top: 30px;
  background-color: white;
  border-color: #ddd;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width:2px;
  border-left-width: 0px;
  border-style: solid;
}
h3{
  margin-top: 10px;
  font-size: large;
  color: #333;
}


.btn {
  margin: 10px 0;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-bottom: 100px;
}
.form-text{
  margin-top: 35px;
}
.form-info{
  margin-top: 30px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
.hint_input{
  color: #737373;
}
#structurePath{
  margin-top: 50px;
}
.container{
  margin-bottom: 200px;
}
mat-form-field{
  width: 100%;
}
