<div class="content container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="page-head">

        <h1>Aide, informations &amp; documentation</h1>

      </div>
    </div>
  </div>

  <div class="row">
            <div class="col-sm-12 col-md-12">


        <h2 style="text-align:center">&nbsp;</h2>

<table align="center" border="3" cellpadding="1" cellspacing="1" style="height:585px; width:742px">
	<tbody>
		<tr>
			<td style="height:40px; width:650px">
			<h2 style="text-align:center">&nbsp;</h2>

			<ul>
				<li>
				<h4 style="text-align:center">Vous êtes une <em><strong>association sportive, un particulier, une société</strong></em>, vous souhaitez savoir si vous êtes soumis à une démarche administrative en tant qu'organisateur d'évènement sportif :</h4>
				</li>
			</ul>
			</td>
			<td style="height:40px; width:650px">
			<h4 style="text-align:center"><a routerLink="/about"><strong>Suivez le guide</strong></a></h4>
			</td>
		</tr>
		<tr>
			<td style="height:40px">
			<p style="text-align:center">&nbsp;</p>

			<ul>
				<li>
				<h4 style="text-align:center">Vous êtes <strong><em>ORGANISATEUR</em></strong> :&nbsp;&nbsp;<strong> </strong></h4>
				</li>
			</ul>

			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="height:40px">
			<h4 style="text-align:center"><strong><a routerLink="/aide_faq">Accédez à votre centre de ressources et d'aide</a> </strong></h4>
			</td>
		</tr>
		<tr>
			<td style="height:40px">
			<ul>
				<li>
				<h4>Vous êtes <strong><em>SERVICE INSTRUCTEUR, SERVICE CONSULTE POUR AVIS</em> :&nbsp; </strong></h4>
				</li>
			</ul>
			</td>
			<td style="height:40px">
			<h4 style="text-align:center"><strong><a routerLink="">Accédez à votre espace</a></strong></h4>
			</td>
		</tr>
		<tr>
			<td style="height:40px">
			<h4><strong>&nbsp;</strong></h4>

			<ul>
				<li>
				<h4>Vous êtes un <em><strong>service de Préfecture, une DDCS ou DDCSPP</strong></em>, vous souhaitez entrer dans la démarche innovante du guichet unique dématérialisé :</h4>
				</li>
			</ul>
			</td>
			<td style="height:40px">
			<h4 style="text-align:center"><strong><a routerLink="">Rejoignez-nous...</a></strong></h4>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

    </div>
        </div>
</div>
