<div class="content container">
  <div class="row" id="content">
    <div class="page-head offset-md-2 col-md-8">
      <h1>
        <i class="fas fa-car"></i>
        Sélectionnez le type de manifestation sportive
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="link-choose offset-md-2 col-md-8">
      <a routerLink="/dept/choose/roadmotorizedevent" class="list-group-item">
        <h3 class="choose">
          <i class="fas fa-road"></i>
          Manifestation sportive sur voie publique ou ouverte à la circulation publique
        </h3>
        <ul>
          <li>Les voies publiques : Les voies classées dans le domaine public routier de l'Etat, des
            départements et des communes (voies communales, départementales, nationales, autoroutes)
          </li>
          <li>
            Les chemins ruraux : les chemins inscrits au domaine privé de la commune affectés à l'usage public
          </li>
          <li>
            les voies privées ouvertes à la circulation publique des véhicules à moteur :
          </li>
        </ul>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <a routerLink="/dept/add/motorizedRace" class="list-group-item">
        <h3 class="choose">
       <span class="fa-stack">
        <i class="fas fa-stack-1x fa-road"></i>
         <i class="fas fa-stack-2x fa-ban fa text-danger"></i>
         </span>
          Manifestation hors voie publique ou ouverte à la circulation publique
        </h3>
        <p>
          (Article R331-18 du code du sport)
        </p>
        <ul>
          <li>Regroupement de VTM et d'un ou plusieurs pilotes ou pratiquants</li>
          <li>Visant à présenter, de façon organisée pour les spectateurs</li>
          <li>Un sport mécanique sous ses différentes formes</li>
        </ul>
      </a>
    </div>
  </div>
</div>
