<div class="content container">
  <div class="row">
    <div class="event offset-md-2 col-md-8 offset-md-2">
      <h3>Constitution du dossier en 2 étapes...</h3>
    </div>
  </div>
  <div class="stape row">
    <div class="step offset-md-2 col-md-4">
      <p>Etape 1</p>
      <h2>
        <i class="fas fa-map"></i>
        Cartographie du parcours
      </h2>
      <p>
        Veuillez réaliser la (ou les) cartographie(s) de parcours de votre manifestation. <br>
        Une fois créées, vos cartographies de parcours seront disponibles dans votre formulaire afin
        de les lier à votre demande.<br>
        NB : cette plateforme n'est pas liée à OpenRunner.
      </p>
      <a routerLink="" class="btn btn-primary">
        <i class="fas fa-map"></i> Créer un parcours
      </a>
    </div>
    <div class="step col-md-4">
      <p>Etape 2</p>
      <h2>
        <i class="fas fa-folder-open"></i>
        Formulaire
      </h2>
      <p>
        Nous allons vous posez quelques questions afin de personnaliser votre formulaire (un nouvel onglet
        du navigateur va s'ouvrir...)<br>
        Puis, vous n'aurez plus qu'à saisir les renseignements demandés et joindre les documents nécessaires.<br>
        <br>
      </p>
      <a routerLink="/dept/choose/event" class="btn btn-primary">
        <i class="fas fa-folder-open"></i> Remplir le formulaire
      </a>
    </div>
  </div>
</div>

