<div class="content container">
  <div class="row" id="content">
    <div class="page-head offset-md-2 col-md-8">
      <h1>
        <i class="fas fa-car"></i>
        <i class="fas fa-road"></i>
        Sélectionnez le type de manifestation sportive
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="link-choose offset-md-2 col-md-8">
      <a routerLink="/dept/add/motorizedconcentration" class="list-group-item">
        <h3 class="choose">
          <span class="fa-stack">
          <i class="fas fa-stack-1x fa-trophy"></i>
          <i class="fas fa-stack-2x fa-ban fa text-danger"></i>
          </span>
          Concentration de véhicules terrestres à moteur
        </h3>
        <p>
          (Article R331-18 du code du sport)
        </p>
        <ul>
          <li>Un rassemblement comportant la participation d'au moins 50 VTM (circulation groupée)</li>
          <li>Se déroulant sur la voie publique dans le respect du code de la route (pas de temps imposé ou chronométrage)</li>
          <li>Imposant aux participants un ou plusieurs points de rassemblement</li>
          <li>Dépourvue de tout classement</li>
        </ul>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <a routerLink="/dept/add/vehicle-motorized" class="list-group-item">
        <h3 class="choose">
          <i class="fas fa-trophy"></i>
          Manifestation hors voie publique ou ouverte à la circulation publique
        </h3>
        <p>
          (Article R331-18 du code du sport)
        </p>
        <ul>
          <li>Regroupement de VTM et d'un ou plusieurs pilotes ou pratiquants</li>
          <li>Visant à présenter, de façon organisée pour les spectateurs</li>
          <li>Un sport mécanique sous ses différentes formes</li>
        </ul>
      </a>
    </div>
  </div>
</div>

