  <div class="content container">
  <div class="row" id="content">
    <div class="page-head offset-md-2 col-md-8">
      <h1>
      <span class=" fa-stack">
        <i class="fas fa-stack-1x fa-car"></i>
        <i class="fas fa-ban fa-stack-2x text-danger"></i>
        </span>
        <span class="icons fa-stack faGlob">
          <i class="fa-stack-1x fas fa-trophy"></i>
          <i class="fa-stack-2x fa fa-ban text-danger"></i>
        </span>
        La manifestation prévoit la circulation groupée?</h1>
    </div>
  </div>
  <div class="row">
    <div class="link-choose offset-md-2 col-md-8">
      <a routerLink="/dept/add/declarationNM" class="list-group-item">
        <h3 class="choose">
          <i class="fas fa-users"></i>
          Oui
        </h3>
        <p>
          Cette manifestation prévoit la circulation groupée en un point déterminé
          de la voie publique ou de ses dépendances de : <br>
          -Plus de 100 participants
        </p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <a routerLink="/dashboard" class="list-group-item">
        <h3 class="choose">
          <span class="fa-stack">
          <i class="fas fa-users fa-stack-1x"></i>
          <i class="fas fa-ban fa-stack-2x text-danger"></i>

          </span>
          Non
          <p>
            La déclaration en préfecture n'est pas nécessaire dans ce cas<br>
            <i class="fas fa-reply"></i>
            Revenir au tableau de bord
            <i class="fas fa-tachometer-alt"></i>
          </p>
        </h3>
      </a>
    </div>
  </div>
  </div>

