#content{
  margin-bottom: 400px;
}
.event{
  float: left;
  background-color: #fbfbfb;
  margin-top: 150px;
  border-color: #ddd;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 10px;
  border-bottom-color: lightgray;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  font-size: 10px;
}
.h1, h1 {
  font-size: 19px;
  font-style: italic;
  letter-spacing: 0.1em;
}
.blocLoire{
  margin-top: 25px;
  border: 1px solid lightgray;
  border-radius: 5px 5px 0px 0px;
}
a{
  border-bottom: 1px;
  border-color: lightgray;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  text-decoration: none;
  height: 75px;
}
a>h3{
  color: #555;
  margin-left: 15px;
  margin-top: 30px;
  font-size: medium;
}

a:hover{
  background-color: rgba(221, 221, 221, 0.45);
}
