
<div class="container" id="content">
  <div class="row">
    <div class="event offset-md-2 col-md-8 offset-md-2">
      <h1>
        <i class="fas fa-map-marker-alt" aria-hidden="true" title="tableau de bord"></i>
        Sélectionnez le département où débute votre manifestation
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8 offset-md-2">
      <div class="blocLoire list-group">
        <a routerLink="/create-route/dept42"><h3>42- Loire</h3></a>
        <a routerLink="/create-route/dept78"><h3>78- Yvelines</h3></a>
        <a routerLink="/create-route/dept972"><h3>972- Martinique</h3></a>
        <a routerLink="/auther-dep"><h3>Autre département</h3></a>
      </div>
    </div>
  </div>
</div>

