.content{
  margin-top: 100px;
  height: 100%;
}
h1 {
	margin: 35px 0;
	color: #015a70;
	font-size: 19px;
	font-style: italic;
	letter-spacing: 0.1em;
}
.page-head{
	background-color: white;
    border-color: #ddd;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width:5px;
    border-left-width: 0px;
    border-style: solid;

}
.btn {
	margin: 10px 0;
	background-color: #337ab7;
	border-color: #2e6da4;
  margin-bottom: 325px;
}
.form-text{
	margin-top: 35px;
}
