<div class="content container">
  <div class="row">

    <div class="offset-md-3 col-md-6" *ngIf="!authenticate">
      <div class="page-head">
        <h1>Connexion</h1>
      </div>
      <p class="form-text">Si vous n'avez pas encore crée de compte, merci de procéder en premier lieu à votre <a
        routerLink="/sign-in">inscription.</a></p>

      <form>
        <div class="form-group">
          <label for="name">Pseudo*</label>
          <input type="text" id="name" class="form-control" placeholder="Pseudo" name="name" [(ngModel)]="username">
        </div>

        <div class="form-group">
          <label for="password">Mot de passe*</label>
          <input type="password" id="password" class="form-control" placeholder="Mot de passe" name="password"
                 [(ngModel)]="password">
        </div>

        <div class="form-group">
          <label for="s">Se souvenir de moi</label>
          <input type="checkbox" id="s"><br>
          <a routerLink="">Mot de passe oublié?</a>
        </div>

        <div class="alert-danger text-center">
          <p *ngIf="loginFailed" class="text-danger">Nom d'utilisateur ou mot de passe incorrect</p>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Se connecter" (click)="loginWithPassword()">
        </div>
      </form>
    </div>

      <div class="alert-success offset-md-3 col-md-6" *ngIf="authenticate" style="margin-top: 25vh;">
        <h3 class="text-center">You're alerady connected</h3>
      </div>

  </div>
</div>

