.content{
  margin-top: 150px;
  margin-bottom: 400px;
}
.event{
  float: left;
  background-color: #fbfbfb;
  margin-top: 20px;
  border-color: #ddd;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 10px;
  border-bottom-color: lightgray;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  font-size: medium;
}
.h1, h1 {
   font-size: 19px;
   font-style: italic;
   letter-spacing: 0.1em;
 }
p{

  font-size: smaller;
}
.step{
  margin-top: 20px;
}
h2{
  color: #015a70;
  font-size: medium;
}
.btn{
  background-color: #337ab7;
  border-color: #2e6da4;
}
