#content{
  margin-bottom: 150px;
}
.content{
  margin-top: 150px;
  margin-bottom: 350px;
}
.page-head{
  margin-top: 25px;
  background-color: #fbfbfb;
  border-style: solid;
  border-color: #ddd;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  font-size: 15px;
  border-bottom-color: lightgray;
}
h3{
  margin-top: 10px;
}

.well{
  margin-top: 20px;
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
  height: 55px;
  border-radius: 5px 5px;
}

.well > h3 {
  font-size: medium;
  margin-top: 20px;
}
.form{
  margin-top: 50px;
}
.hint_input{
  color: #737373;
}

.btn{
  color: #fff;
  background-color: #337ab7;
  border-color: #204d74;
}

.btn:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
mat-form-field{
  width: 100%;
}
