<div id="content">
  <div class="content container">
  <div class="row">
    <div class="page-head offset-md-2 col-md-8">
      <h3>
        Organisation d'une manifestation sportive
      </h3>
    </div>

  </div>
  <div class="row">
    <div class="well offset-md-2 col-md-8">
      <h3>
        Ce département ne fait pas encore partie des départements abonnés à la plateforme.
        Vous pouvez néanmoins nous soumettre votre manifestation.
      </h3>
    </div>
  </div>
    <div class="form offset-md-3 col-md-6 offset-md-3">
      <div class="form-group">
        <label for="manifName"><strong>Nom de la manifestation*</strong></label>
        <input class="form-control" id="manifName" type="text" name="manifName">
      </div>
      <div class="form-group">
        <label for="date"><strong>Date de début*</strong></label>
        <input class="form-control" id="date" type="date" name="date">
      </div>
      <div class="form-group">
        <label for="end-date"><strong>Date de fin*</strong></label>
        <input class="form-control" id="end-date" type="date" name="end-date">
      </div>
      <div class="form-group">
        <label for="description"><strong>Description*</strong></label>
        <input class="form-control" id="description" type="text" name="description">
        <p class="hint_input">précisez les modalités d'organisation et les caractéristiques de la manifestation</p>
      </div>

     <!-- <div class="form-group">
        <label for="sport-activ"><strong>Recherche d'activité sportive</strong></label>
        <input class="form-control" id="sport-activ" type="text" name="sport-activ">
        <p class="hint_input">
          recherchez votre activité sportive dans ce champ. Cliquez ensuite
          sur l'activité pour remplir automatiquement les champs ci-dessous.
        </p>
      </div>
      -->
      <div class="form-group">
        <label for="discipline"><strong>Discipline</strong></label>
        <select class="form-control" id="discipline" name="discipline">
          <option>------</option>

        </select>
      </div>
      <div class="form-group">
        <label for="activity"><strong>Activité*</strong></label>
        <select class="form-control" id="activity">
          <option>-----</option>
        </select>
      </div>
      <div class="form-group" >
        <label for="departement"><strong>Département de départ</strong></label>
        <select class="form-control" id="departement">
          <option>-----</option>
          <option *ngFor="let dep of departement$ | async">{{dep.name}}</option>

        </select>

      </div>
      <div class="form-group">
        <label for="comune"><strong>Comune de départ*</strong></label>
        <select class="form-control" id="comune">
          <option>----------</option>
        </select>
      </div>

      <mat-form-field>
        <mat-select placeholder="Autres départements traversées" [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping" disableRipple>{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Autres communes traversées" [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping" disableRipple>{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>


      <div class="form-group">
        <label for="numberPeople"><strong>Nombre de participants*</strong></label>
        <input class="form-control" id="numberPeople">
        <p class="hint_input">
          renseigner le nombre de participants de la précedente édition ou le nombre
          de participants estimé si première édition
        </p>
      </div>
      <div class="form-group">
        <label for="numbermax"><strong>Nombre max. de spectateurs*</strong></label>
        <input class="form-control" id="numbermax">
      </div>
  </div>
  <input id="submit-id-save" class="btn btn-primary offset-md-2" type="submit" value="Enregistrer" name="save">
  </div>
</div>
