.content{
  margin-top: 150px;
  margin-bottom: 400px;
}
.page-head{
  background-color: #fbfbfb;
  border-style: solid;
  border-color: #ddd;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  font-size: 15px;
}
h1{
  font-size: 19px;
  font-style: italic;
  letter-spacing: 0.1em;
}
h2{
  font-size: 17px;
  color: #015a70;
}
h3{
  font-size: 15px;
}
.page-body>h3{
  margin-top: 30px;
}
.page-body{
  margin-top: 25px;
}
