<div class="content container">
  <div class="row">
    <div class="page-head col-md-12 col-sm-12">
      <h1>CGU</h1>
    </div>
  </div>
  <div class="row">
    <div class="page-body col-xs-12 col-md-12">
        <h2>Conditions Générales d'Utilisation de la plateforme <a href="https://manifestationsportive.fr/">manifestationsportive.fr</a></h2>

        <p><em>Date de la dernière révision&nbsp;: 11 avril&nbsp;2017</em></p>

        <h3>GÉNÉRALITÉS</h3>

        <p>Dans sa déclaration auprès de la CNIL, le site <a href="https://manifestationsportive.fr">manifestationsportiveloire.fr</a> a prévu la possibilité&nbsp;d'utiliser des informations nominatives, dans le cadre strict de ses champs de compétences en tant que Service déconcentré de l’État et en interdiction absolue d’exploitation de ces données personnelles à toutes fins commerciales. Compte tenu des caractéristiques du réseau Internet que sont la libre captation des informations diffusées et la difficulté, voire l’impossibilité de contrôler l’utilisation qui pourrait en être faite par des tiers, nous vous informons que vous pouvez vous opposer à la diffusion des informations nominatives qui vous concernent. Pour que nous puissions prendre en compte votre refus, contactez le Service Communication au 04 77 49 63 63 ou par mèl.</p>

        <p>Attention ! Nous vous rappelons que vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi “Informatique et Libertés” du 6 janvier 1978). Pour exercer ce droit, adressez-vous à la société Openscop, 7 place Maréchal Foch 42000 Saint-Étienne</p>

        <p>L'acceptation des présentes Conditions Générales d'Utilisation implique l'acceptation des <a href="/aide/CGU/openrunner">Conditions Générales d'Utilisation de notre partenaire «&nbsp;openrunner&nbsp;»</a> fournisseur de l'outil&nbsp;de cartographie en ligne.</p>

        <h4>Article 1 : Préambule</h4>

        <p>Dans le cadre de ses missions, la Direction Départementale de la Cohésion Sociale (DDCS) de la Loire œuvre pour le développement maîtrisé des sports de nature en partenariat avec le Comité Départemental Olympique et Sportif de la Loire.</p>

        <p>Cette démarche s'inscrit dans un plan d’action global du Service Sports, Jeunesse, Vie Associative de la DDCS de la Loire s’appuyant sur la prise en compte du développement durable dans la programmation et l’organisation des manifestations sportives de nature&nbsp;:</p>

        <ul>
          <li>Élaboration d’un guide de bonnes pratiques sportives écoresponsables</li>
          <li>Mise en place d’une charte de labellisation des manifestations écoresponsables</li>
          <li>Calendrier éco responsable commun aux sports de nature ligériens</li>
          <li>Dématérialisation des procédures de déclaration et d’autorisation de manifestations sportives</li>
        </ul>

        <p>Dans ce cadre, la DDCS, la Préfecture de la Loire et la société Openscop ont collaboré pour mettre à la disposition des organisateurs de manifestations sportives dans la Loire une plateforme internet départementale de dématérialisation. Au fil des évolutions, la plateforme nommée « www.manifestationsportive.fr » s'est étendue pour permettre&nbsp;une couverture nationale.</p>

        <p>Cette plate-forme électronique distante et sécurisée permet aux utilisateurs d’accéder gratuitement, à partir d’un accès Internet, à des ressources et des services numériques favorisant la déclaration, l’organisation et la valorisation de manifestations sportives ligériennes.</p>

        <p>La plateforme comporte un accès ouvert à tout public et un accès réservé, d’une part aux organisateurs de manifestations sportives, d’autre part aux services de l’Etat et services consultés pour avis, instructeurs des demandes issues de ces organisateurs (déclaration, autorisation, homologation de circuits, évaluation d’incidences NATURA 2000, évaluation d’incidences en RNR).</p>

        <p>Cette offre de services favorise notamment le travail coopératif, dans le souci d’une amélioration de la communication entre tous les acteurs de la communauté sportive et administrative.</p>

        <p>Les services offerts aux utilisateurs sont principalement les suivants:</p>

        <ul>
          <li>un agenda des manifestations sportives ;</li>
          <li>des conseils aux organisateurs ;</li>
          <li>un service de télé déclaration de manifestations sportives ;</li>
          <li>un service de cartographie en ligne via notre partenaire «&nbsp;openrunner&nbsp;»</li>
          <li>un service de promotion de manifestations sportives via le calendrier&nbsp;;</li>
        </ul>

        <p>Cette liste de services et fonctionnalités est en évolution permanente.</p>

        <p>Les présentes Conditions Générales d'Utilisation sont rédigées dans l’intérêt de chaque utilisateur et manifeste la volonté de la société Openscop d’assurer un développement harmonieux et sécurisé de l’accès et de l’utilisation de la plateforme. Elle formalise les règles de déontologie et de sécurité que les utilisateurs s’engagent à respecter, en contrepartie de la mise à disposition par Openscop&nbsp;d’un accès à manifestationsportive.fr.</p>

        <p>L’utilisateur de la plateforme s’engage à lire et à respecter l’ensemble des présentes Conditions Générales d'Utilisation. &nbsp;</p>

        <p>La société Openscop&nbsp;est concepteur de la plateforme en lien avec ses partenaires et responsable légal de la plateforme manifestationsportive.fr.</p>

        <h4>Article 2 – Objet</h4>

        <p>Les présentes Conditions Générales d'Utilisation ont pour objet de préciser les conditions dans lesquelles la plateforme peut être utilisée ainsi que les droits et obligations de la société Openscop et des utilisateurs.</p>

        <p>La présente charte s’applique à tous les utilisateurs, c’est-à-dire à toutes les personnes qui sont autorisées à accéder ou à utiliser les services et fonctionnalités, et ce quel que soit leur statut.</p>

        <p>La présente charte, qui est applicable par principe à l’ensemble des utilisateurs sans distinction, peut être complétée, le cas échéant, de documents spécifiques pour certaines catégories d’utilisateurs.</p>

        <h4>Article 3 - Définitions</h4>

        <ul>
          <li>« manifestation sportive » : Toute manifestation sportive, terrestre, nautique ou aquatique, aérienne comportant ou non la participation de véhicules motorisés</li>
          <li>« organisateur » : Toute personne ou structure organisant une manifestation sportive et disposant d’un compte «&nbsp;organisateur&nbsp;» sur la plateforme manifestationsportive.fr.</li>
          <li>« calendrier » : Outil mis à la disposition des organisateurs pour faire connaître leur manifestation accessible en mode consultation et création de manifestation. Outil accessible seulement en mode consultation pour les utilisateurs de la plateforme.</li>
          <li>« utilisateurs » : Toute personne accédant à la partie publique de la plateforme manifestationsportive.fr.</li>
          <li>« personne habilitée » : personne désignée par la société Openscop susceptible de procéder à des opérations de contrôle ou de maintenance au sein de la plateforme.</li>
        </ul>

        <h3>RÈGLES d’UTILISATION</h3>

        <h4>Article 4 – Conditions d’utilisation</h4>

        <p>Il est interdit à l’utilisateur et le cas échéant sanctionné par voie pénale de se livrer à la consultation, au chargement, au stockage, à la publication ou à la diffusion de fichiers et de messages, dont le contenu, sans que cette liste ne soit exhaustive, constitue :</p>

        <ul>
          <li>une atteinte à la vie privée d'autrui ;</li>
          <li>une diffamation ou une injure ;</li>
          <li>une provocation des mineurs à commettre des actes illicites ou dangereux, le fait de favoriser la corruption d'un mineur, l'exploitation à caractère pornographique de l'image d'un mineur, la diffusion de messages à caractère violent ou pornographique susceptibles d'être perçus par un mineur ;</li>
          <li>une incitation à la consommation de substances illicites ;</li>
          <li>une incitation aux crimes et délits et la provocation au suicide, la provocation à la discrimination, à la haine raciale, ou à la violence ;</li>
          <li>une provocation à l'apologie de tous les crimes, notamment meurtre, viol, crime de guerre et crime contre l'humanité ; la négation de crimes contre l'humanité ;</li>
          <li>une incitation à la contrefaçon de marque ;</li>
          <li>une reproduction, représentation ou diffusion d'une œuvre de l'esprit (par exemple : extrait musical, photographie, extrait littéraire, …) ou d’une prestation de droits voisins (par exemple : interprétation d’une œuvre musicale par un artiste, phonogramme, vidéogramme, programme d’une entreprise de communication audiovisuelle) en violation des droits de l'auteur, du titulaire de droits voisins et/ou du titulaire des droits de propriété intellectuelle ;</li>
          <li>des copies de logiciels commerciaux pour quelques usages que ce soient, hormis une copie de sauvegarde dans les conditions prévues par le code de la propriété intellectuelle ;</li>
          <li>une utilisation d’un logiciel dans un cadre autre que celui prévu par la licence qui lui est attachée.</li>
        </ul>

        <p>Ceci s’applique aux documents, aux fichiers et aux messages, avec ou sans pièces attachées, quelle que soit la forme des contenus (sonore, audiovisuel, multimédia ou logiciel).</p>

        <p>L’utilisateur doit proscrire tout comportement pouvant inciter des tiers à lui adresser de tels documents.</p>

        <p>Toute utilisation de la plate forme à des fins lucratives ou commerciales est interdite. En particulier, pour le service «&nbsp;Calendrier&nbsp;», les photos, documents ou liens mis en ligne ne devront permettre la promotion uniquement de la manifestation sportive correspondante.</p>

        <p>La société Openscop s’engage à respecter les règles protectrices des intérêts des tiers et de l’ordre public et notamment à informer promptement les autorités publiques et les représentants légaux des activités illicites qu’ils pourraient constater à l’occasion de l’utilisation de leurs services liés à la plateforme.</p>

        <p>La société Openscop s’engage à agir promptement pour retirer toute donnée ou contenu stockés sur la plate-forme ou pour en rendre l’accès impossible dès lors qu’ils ont effectivement connaissance de son caractère illicite ou de faits et circonstances faisant apparaître ce caractère. Il en est de même lorsque la société Openscop en reçoit l’ordre par une autorité publique.</p>

        <p>La société Openscop ou ses prestataires s’engagent à détenir et conserver les données de nature à permettre l’identification de quiconque a contribué à la création du contenu ou de l’un des contenus des services de la plateforme afin de les communiquer aux autorités judiciaires à leur demande.</p>

        <p>Les utilisateurs s’engagent à notifier à la société Openscop&nbsp;l’existence de contenus illicites dont ils auraient connaissance afin que celle-ci les supprime promptement.</p>

        <p>Les utilisateurs s’engagent à ne pas effectuer, de manière volontaire, des opérations pouvant nuire au fonctionnement du réseau de même qu’à l’intégrité des ressources informatiques.</p>

        <p>Ils s’engagent notamment à ne pas développer, installer ou copier des programmes destinés à contourner la sécurité, saturer les ressources.</p>

        <h4>Article 5 – Identifiants et mots de passe</h4>

        <p>Hormis pour la consultation des pages d’accueil, du calendrier et de primoconseils, l’accès à la plateforme est soumis à une identification préalable de l’utilisateur, qui dispose alors d’un "Compte d’accès personnel" aux ressources et services proposés.</p>

        <p>Le compte d’accès d’un utilisateur est constitué d’un identifiant et d’un mot de passe strictement personnels et confidentiels. Leur usage ne peut être cédé à un tiers que sous l’entière responsabilité du cédant. L’utilisateur est responsable de leur conservation.</p>

        <p>Les utilisateurs sont informés qu’ils disposent de droits d’accès et d’utilisation différents selon le profil (organisateur, services instructeurs, services consultés pour avis, fédérations) auquel ils appartiennent. L’ouverture du compte d'accès implique techniquement que des outils et services spécifiques sont mis à la disposition de l'utilisateur, avec éventuellement des restrictions en fonction des droits qui s’attachent à son profil. L’utilisateur s'engage à respecter les conditions d’usages (notamment licences) des outils et services correspondants. L’utilisateur s’engage à ne pas accéder à des services, applications ou ressources auxquels son profil ne lui donne pas accès.</p>

        <p>Il s’engage, enfin, à ne pas utiliser son identifiant et son mot de passe pour une utilité quelconque qui aurait pour conséquence d’interrompre ou de perturber le bon fonctionnement de la plateforme.</p>

        <p>Il doit notamment veiller à ce que des tiers non autorisés ne puissent y accéder, à l’utiliser et à accéder à son contenu par l’intermédiaire de son compte d’accès.</p>

        <p>En cas d’incident avéré, mais aussi en cas de doute, il doit immédiatement en aviser son responsable légal et/ou la société Openscop.</p>

        <p>Le droit d’accès est personnel, incessible et temporaire. Il fait l’objet d’un renouvellement annuel tacite. Il disparaît dès que son titulaire n’est plus utilisateur tel que défini dans l’article 3.</p>

        <h4>Article 6 – Protection des données à caractère personnel</h4>

        <p>1. Déclaration obligatoire auprès de la CNIL</p>

        <p>La plateforme a fait l’objet d’une déclaration CNIL.</p>

        <p>La société Openscop s’engage à utiliser les données à caractère personnel des utilisateurs dans le strict respect de la réglementation relative à la protection des données à caractère personnel.</p>

        <p>Ces données à caractère personnel pourront être communiquées à des tiers à des fins statistiques ou de recherche historique ou scientifique, notamment dans le cadre d’études sociologiques ou scientifiques dès lors que les données ainsi traitées seront préalablement rendues anonymes.</p>

        <p>La société Openscop s’engage à mettre en œuvre les mesures techniques et d’organisation appropriées pour assurer la sécurité des données à caractère personnel traitées dans le cadre de la plateforme afin que celles-ci ne fassent l’objet d’aucune destruction accidentelle ou illicite, d’altération, de diffusion ou d’accès non autorisé.</p>

        <p>Les utilisateurs disposent des droits qui leur sont reconnus par la réglementation relative à la protection des données à caractère personnel et notamment :</p>

        <ul>
          <li>le droit d’accéder aux données à caractère personnel les concernant et faisant l’objet d’un traitement&nbsp;;</li>
          <li>le droit de demander au responsable du traitement à ce que les données les concernant soient rectifiées,</li>
          <li>le droit de s’opposer au traitement pour des motifs légitimes</li>
        </ul>

        <p>Ces droits s’exercent auprès de la société Openscop.</p>

        <p>&nbsp;2. Création de fichiers au sein de l’ENT</p>

        <p>Lorsque l’utilisateur est amené à constituer des fichiers comportant des données à caractère personnel telles que définies par la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés et par la directive européenne 95/46/CE relative à la protection des données personnelles et à la libre circulation de ces données du 24 octobre 1995, il veillera en particulier :</p>

        <ul>
          <li>à respecter les procédures préalables auprès de la CNIL (www.cnil.fr) ;</li>
          <li>à procéder à l'information préalable des personnes concernées quant à la finalité et les destinataires du traitement de ces informations ;</li>
          <li>à n'effectuer auprès de mineurs, aucune collecte d'information concernant l'entourage familial, le mode de vie des parents, leur statut socioprofessionnel, leur religion, et plus généralement toute information dont la collecte est interdite par la loi.</li>
          <li>à procéder à l'information préalable des personnes concernées quant au risque inhérent à Internet que ces données soient utilisées dans des pays n'assurant pas un niveau de protection suffisant des données à caractère personnel.</li>
        </ul>

        <h4>Article 7 – Protection et autonomie des utilisateurs</h4>

        <p>La société Openscop et ses partenaires souhaitent favoriser non seulement&nbsp; la protection des utilisateurs dans leurs usages de la plateforme, mais aussi leur autonomie.</p>

        <p>Ainsi, bien que l’utilisation de services par internet se répande toujours davantage au sein de la population, certains utilisateurs pourraient avoir besoin d’accompagnement, d’une part dans l’accès à internet et d’autre part dans l’utilisation des services en ligne proposés par la plateforme.</p>

        <p>L’accès aux informations et services proposés par la plateforme pourra donc le cas échéant, et dans un cadre conventionné avec la société Openscop ou ses partenaires identifiés, être accompagné par des espaces publics numériques. Cet accompagnement pourra être de différents niveaux&nbsp;:</p>

        <ul>
          <li>un accès à un ordinateur connecté à internet,</li>
          <li>un accompagnement à la saisie d’informations en ligne,</li>
          <li>un accompagnement à l’utilisation des services de cartographie,</li>
          <li>un accompagnement technique et juridique (droit à l’image...) pour la valorisation des manifestations dans le cadre du calendrier.</li>
        </ul>

        <p>Toute autre question de l’usager, qui ne concerne pas le contenu des manifestations sportives ou obligations légales auxquelles ce dernier est soumis.</p>

        <h4>Article 8 - Protection de l’image</h4>

        <p>La publication de photographies de mineurs sur Internet ou tout autre support, requiert obligatoirement une autorisation préalable des représentants légaux des élèves. La publication ou l’utilisation de l’image de toute personne majeure y compris dans un "trombinoscope", nécessite une autorisation préalable de leur part.</p>

        <h4>Article 9 : Propriété intellectuelle</h4>

        <p>1. Outil de cartopgrahie des parcours</p>

        <p>Les développements techniques des éléments cartographiques de la plateforme sont la propriété exclusive du partenaire «&nbsp;openrunner&nbsp;».</p>

        <p>2. www.manifestationsportive.fr</p>

        <p>Le nom de domaine, les développements techniques des éléments de la plateforme sont la propriété exclusive de la société Openscop.</p>

        <p>Les utilisateurs n’acquièrent aucun droit de propriété sur les éléments constitutifs de la plateforme du fait de leur simple utilisation. Ces éléments peuvent faire l’objet de modification ou de suppression selon les besoins de la société Openscop.</p>

        <p>L’utilisation de la plateforme n’emporte aucune cession d’aucune sorte au bénéfice des utilisateurs des droits de propriété intellectuelle sur les éléments tels que sites web, bases de données, marques, dessins et modèles, images fixes ou animées, textes, photographies, logos, chartes graphiques, moteurs de recherche, logiciels, mis en ligne ou mis à disposition sur la plateforme par la société Openscop, l’organisateur, des prestataires extérieurs ou d’autres utilisateurs.</p>

        <p>Les utilisateurs s’engagent à respecter les droits de propriété intellectuelle relatifs aux logiciels ainsi qu’aux logiciels libres ou « open source » dont les conditions d’utilisation prévoient les cas dans lesquels il est interdit de les utiliser.</p>

        <p>3. Publications et utilisations de contenus</p>

        <p>Toute représentation ou reproduction d’une œuvre sans autorisation de son auteur constitue un acte de contrefaçon sanctionné civilement et pénalement.</p>

        <p>Lorsque l’utilisateur a obtenu l’autorisation de l’auteur pour reproduire et/ou représenter une œuvre, il est rappelé ici, la nécessité pour l’utilisateur de faire figurer, pour chacun des documents concernés, une information sur leur propriété intellectuelle (nom(s) et qualité(s) du (ou des) auteur(s), sources et date de création), des précisions quant au caractère de chaque document (original ou adapté, nature des adaptations), ainsi qu’une indication précise sur les modes d'utilisation autorisés.</p>

        <p>Les utilisateurs disposent, sur les contenus qu’ils créent, des droits d’auteur définis par le Code de la propriété intellectuelle et notamment de droits moraux (respect de leur nom, de leur qualité et de leur œuvre) ainsi que de droits patrimoniaux (droit d’exploitation, de représentation et de reproduction de l’œuvre notamment). Les utilisateurs apposent leurs initiales sur chaque contribution qu’ils mettent en ligne sur la plateforme.</p>

        <h4>Article 10 : Responsabilité</h4>

        <p>La société Openscop ne peut voir sa responsabilité engagée du fait du contenu diffusé sur la plateforme par les utilisateurs.</p>

        <p>Des liens hypertextes présents sur la plateforme peuvent renvoyer vers d’autres sites tiers. Seuls les exploitants et titulaires de ces sites sont responsables des contenus de ces sites à l’exclusion de la société Openscop.</p>

        <p>La société Openscop décline, par conséquent, toute responsabilité dans le cas où le contenu de ces sites contreviendrait aux dispositions légales et réglementaires en vigueur, notamment en ce qui concerne les données contenues ou diffusées et les traitements de données à caractère personnel auxquels il serait procédé.</p>

        <p>Les traces détaillées d’activité sont conservées pendant les durées légales ou conventionnelles, à l’issue desquelles elles sont détruites. Elles sont considérées comme preuve de l’utilisation de la plateforme par les utilisateurs. Elles peuvent faire l’objet d’un traitement statistique anonyme.</p>

        <p>Ces traces peuvent être fournies aux autorités compétentes selon les dispositions légales et réglementaires en vigueur. Elles peuvent aussi être communiquées à l’utilisateur, pour les seules données qui le concernent directement et individuellement, en application des dispositions de la réglementation sur la protection des données à caractère personnel.</p>

        <p>Les utilisateurs reconnaissent que la société Openscop ne saurait être tenue pour responsable des dommages directs ou indirects qui pourraient résulter de l’accès à la plateforme ou de l’utilisation des services qui sont proposés en son sein.</p>

        <p>Les utilisateurs assument la responsabilité de tous les contenus qu’ils mettent en ligne ou stockent au sein de la plateforme. Ils reconnaissent, qu’en cas de violation de l’une quelconque des dispositions de la présente charte d’utilisation et/ou de l’une quelconque des lois ou règlements en vigueur, ils garantissent la société Openscop contre toute contestation, opposition, revendication, action et, de manière générale, contre toute difficulté dont serait saisie la société Openscop par un tiers et portant sur le contenu rédactionnel, informationnel diffusé par l’intermédiaire de la plateforme.</p>

        <h3>CONTROLE ET MAINTENANCE</h3>

        <h4>Article 11 – Hébergement, stockage - Disponibilité du service</h4>

        <p>La société Openscop assure l’hébergement de la plate-forme. Elle peut confier cette mission à un prestataire habilité.</p>

        <p>La société Openscop ou son prestataire s'efforce dans la mesure du possible de maintenir accessible le service qu'il propose de manière permanente, mais n'est tenue à aucune obligation d'y parvenir. La société Openscop peut donc interrompre l'accès, notamment pour des raisons de maintenance et de mise à niveau, ou pour toutes autres raisons, notamment techniques, sans qu’il puisse être tenu pour responsable des conséquences de ces interruptions aussi bien pour l'utilisateur que pour tous tiers. La société Openscop essaie, dans la mesure du possible, de tenir les utilisateurs informés de la survenance de ces interruptions.</p>

        <p>Dans le cadre des services proposés par la plateforme, notamment ceux liés aux procédures de déclaration ou de demandes d’autorisation, une échéance de dépôt de la demande peut être fixée à l’utilisateur. En cas de force majeure qui aurait pour conséquence le dépassement de cette échéance, il appartiendra à l’utilisateur de prouver qu’il a d’une part prévenu la Préfecture dont dépend l'instruction de son dossier et la société Openscop&nbsp;et d’autre part sollicité l’opérateur de communication via lequel il a effectué sa demande par internet pour connaître les éventuelles causes du dysfonctionnement. À défaut de ces preuves, la Préfecture concernée et la société Openscop ne pourront prendre en compte l’éventuelle demande de prorogation du délai de dépôt suite au cas de force majeure supposé d’interruption de service internet.</p>

        <h4>Article 12 - Conservation des données</h4>

        <p>La plateforme est un lieu de stockage temporaire. La société Openscop ne peut être tenue pour responsable de la perte de données stockées sur la plate-forme. Chaque utilisateur doit organiser et mettre en œuvre les moyens nécessaires à la conservation des messages et des contenus qu’il met en ligne.</p>

        <h4>Article 13 - Maintenance</h4>

        <p>La mise à disposition de la plateforme implique nécessairement des opérations de maintenance technique, qu’il s’agisse de maintenance corrective, de maintenance préventive ou de maintenance évolutive.</p>

        <p>Ces opérations de maintenance peuvent nécessiter l’intervention d’une « personne habilitée » sur site ou sous la forme d’une « prise de main à distance ». La « personne habilitée » est la personne désignée à cet effet par la société Openscop.</p>

        <p>L’objectif de ces opérations n’est autre que d’assurer le bon fonctionnement et la sécurité de la plateforme. Cependant, dans le cadre de ces interventions, la « personne habilitée » peut être amenée à examiner en détail le journal de ses connexions.</p>

        <p>La «personne habilitée» fera en sorte de ne pas accéder au fichier intitulé « privé » en dehors de la présence de l’utilisateur. Cependant, elle peut y être contrainte pour des raisons impératives de sécurité ou pour des raisons techniques (surcharge du réseau, lutte antivirus, lutte antispam…) et ce, malgré l’opposition de l’utilisateur.</p>

        <p>Si, à l’occasion d’opérations de maintenance ou de contrôle, une «personne habilitée» identifie une utilisation anormale et/ou un contenu illicite ou préjudiciable, il en informe la société Openscop.</p>

        <h4>Article 14 - Contrôle</h4>

        <p>La société Openscop se réserve le droit d’effectuer des contrôles sur la plateforme à des fins de traçabilité, de sécurité, de détection des abus, de statistiques ou d’optimisation.</p>

        <p>La société Openscop se réserve le droit de contrôler le contenu de toute page Internet hébergée sur les serveurs d’hébergement de la plate-forme en vue de vérifier le respect des dispositions de la présente charte d’utilisation et des règles légales, soit de sa propre initiative, soit dans le cadre de procédures judiciaires ou d’enquêtes administratives.</p>

        <h3>MODALITÉS d’APPLICATION</h3>

        <h4>Article 15 - Adhésion</h4>

        <p>L’accès à la plateforme est conditionné par l’acceptation des présentes conditions générales d’utilisation (CGU) par les utilisateurs.</p>

        <p>Cette adhésion s’effectue en cochant la case &nbsp;« En cochant cette case, j'accepte les Conditions Générales d'Utilisation, accessible depuis le&nbsp;lien&nbsp;présent&nbsp;ci-dessus » lors de la première connexion à la plateforme (création du compte utilisateur).</p>

        <h4>Article 16 - Durée</h4>

        <p>Les présentes conditions générales d’utilisation entrent en vigueur lors de leur acceptation par l’utilisateur pour une durée équivalente à une année civile. Elles font l’objet d’un renouvellement annuel tacite et prennent fin lorsque la personne n’est plus organisateur tel que défini dans l’article 3.</p>

        <h4>Article 17 - Sanctions</h4>

        <p>Le non-respect de tout ou partie des règles définies dans les présentes conditions générales d’utilisation&nbsp;pourra entraîner pour l’utilisateur la suppression immédiate du droit d’utilisation de la plateforme et, le cas échéant, des sanctions disciplinaires et/ou des poursuites judiciaires.</p>

        <h4>Article 18 - Evolution</h4>

        <p>La société Openscop se réserve le droit d’apporter à la présente charte d’utilisation toute modification qu’elle jugera nécessaire et utile.</p>

        <p>&nbsp;</p>

        <p><!--EndFragment--></p>
    </div>
  </div>
</div>
