<div id="content">
  <div class="content container">
  <div class="row">
    <div class="page-head offset-md-2 col-md-8">
      <h3>
        <i class="fas fa-folder-open"></i>
        Organisation d'une manifestation sportive
      </h3>
    </div>
    <div>

    </div>
  </div>
  <div class="row">
    <h3 class="legend offset-md-2 col-md-8">Manifestation</h3>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="manifName"><strong>Nom de la manifestation*</strong></label>
      <input class="form-control" id="manifName" type="text" name="manifName">
    </div>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="date"><strong>Date de début*</strong></label>
      <input class="form-control" id="date" type="date" name="date">
    </div>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="end-date"><strong>Date de fin*</strong></label>
      <input class="form-control" id="end-date" type="date" name="end-date">
    </div>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="description"><strong>Description*</strong></label>
      <input class="form-control" id="description" type="text" name="description">
      <p class="hint_input">précisez les modalités d'organisation et les caractéristiques de la manifestation</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <mat-slide-toggle>Ne pas publier la manifestation dans le calendrier</mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Afficher les coordonnées de la structure dans le calendrier</mat-slide-toggle>

    </div>
  </div>

<div class="row">
  <div class="offset-md-3 col-md-6">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Recherche d'activité sportive" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <p class="hint_input">
        recherchez votre activité sportive dans ce champ. Cliquez ensuite
        sur l'activité pour remplir automatiquement les champs ci-dessous.
      </p>
    </form>
  </div>
</div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="discipline"><strong>Discipline</strong></label>
      <select class="form-control" id="discipline" name="discipline">
        <option>------</option>
        <option>apiDiscipline</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="activity"><strong>Activité*</strong></label>
      <select class="form-control" id="activity">
        <option>-----</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <mat-slide-toggle>
        La manifestation est inscrite sur le calendrier de la fédération délégataire de la discipline
      </mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Sur périmètre RNR</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <p id="rnrText" class="offset-md-3">
      *RNR : Réserve Naturelle Régionale
    </p>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="comune"><strong>Comune de départ*</strong></label>
      <select class="form-control" id="comune">
        <option>----------</option>
        <option></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <mat-form-field>
        <mat-select placeholder="Autres départements traversés" [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of dptTrav" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <mat-form-field>
        <mat-select placeholder="Autres communes traversées" [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of communeTrav" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <mat-form-field>
        <mat-select placeholder="Cartographie du parcours*" [formControl]="toppings" multiple>
          <mat-option *ngFor="let topping of carto" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="numberPeople"><strong>Nombre de participants*</strong></label>
      <input class="form-control" id="numberPeople">
    </div>
  </div>
  <div class="row">
    <p class="hint_input offset-md-3 col-md-6">
      renseigner le nombre de participants de la précedente édition ou le nombre
      de participants estimé si première édition
    </p>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="numbermax"><strong>Nombre max. de spectateurs*</strong></label>
      <input class="form-control" id="numbermax">
    </div>
  </div>
  <div class="row">
    <div class="form-group offset-md-3 col-md-6">
      <label for="numberAndType"><strong>Type et nombre de véhicules*</strong></label><br>
      <textarea class="textarea form-control" cols="40" id="numberAndType" name="vehicles" rows="10"
                style="height: 214px;"></textarea>
    </div>
  </div>

  <div class="row">
    <h3 class="legend offset-md-2 col-md-8">Gestion des voies publiques</h3>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <label for="id_oneway_roads"><strong>Voies publiques en sens unique</strong></label>
      <textarea class="textarea form-control" cols="40" id="id_oneway_roads" name="oneway_roads" rows="1" style="height: 34px;"></textarea>
    </div>
  </div>
  <div class="row">
    <p class="hint_input offset-md-3 col-md-6">
      veuillez lister les voies publiques à emprunter en sens unique lors de la manifestation
    </p>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <label for="id_lane_closed"><strong>Fermeture de voies publiques</strong></label>
      <textarea class="textarea form-control" cols="40" id="id_lane_closed" name="closed_lane" rows="1" style="height: 34px;"></textarea>
    </div>
  </div>
  <div class="row">
    <p class="hint_input offset-md-3 col-md-6">
      veuillez lister les voies publiques à fermer lors de la manifestation
    </p>
  </div>

  <div class="row">
    <h3 class="legend offset-md-2 col-md-8">Charte du balisage temporaire</h3>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Vous êtes signatire de la charte du balisage temporaire</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <p class="hint_input">Voir : </p><a routerLink="#">Charte Ecobalisage</a>
    </div>
  </div>

  <div class="row">
    <h3 class="legend offset-md-2 col-md-8">Type de balisage utilisé</h3>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage à la craie</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage rubalise</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage rubalise biodégradable</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage panneaux (sur piquets ou fixés sur supports naturels)</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage signalétique collé au sol</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage autocollant</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage à la chaux</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage au plâtre</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage confettis</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage à la peinture (aérosol)</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage à la peinture acrylique</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Balisage retiré dans les 48h</mat-slide-toggle>

    </div>
  </div>

  <div class="row">
    <h3 class="legend offset-md-2 col-md-8">Évaluation d'incidences Natura2000</h3>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Le budget de la manifestation excède 100 000 €</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>Manifestation présentant un caractère lucratif et regroupant<br>
        sur un même site plus de 1500 personnes</mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>
        Manifestation donnant lieu à la délivrance d'un titre national ou international
      </mat-slide-toggle>

    </div>
  </div>
  <div class="row">
    <div class="butonSwitch offset-md-3 col-md-6">
      <mat-slide-toggle>
        Manifestation avec engagement de véhicules terrestres à moteur<br>
        se déroulant sur des voies ouvertes à la circulation et à l'intérieur<br>
        d'un périmètre Natura 2000
      </mat-slide-toggle>

    </div>
  </div>

  <div class="row">
    <h3 class="legend offset-md-2 col-md-8">Personne à contacter sur place</h3>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <label for="id_name"><strong>Prénom*</strong></label>
      <input id="id_name" type="text" class="textinput textInput form-control">
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <label for="id_lastName"><strong>Nom de famille*</strong></label>
      <input id="id_lastName" type="text" class="textinput textInput form-control">
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <label for="id_phoneTel"><strong>Numero de téléphone*</strong></label>
      <input id="id_phoneTel" type="text" class="textinput textInput form-control">
    </div>
  </div>
  <input id="submit-id-save" class="btn btn-primary offset-md-2" type="submit" value="Enregistrer" name="save">
  </div>
</div>
