<div class="content container">
  <div class="row" id="content">
    <div class="page-head offset-md-2 col-md-8">
      <h1>
      <span class="icons fa-stack">
        <i class="fas fa-stack-1x fa-car"></i>
        <i class="fas fa-ban fa-stack-2x text-danger"></i>
        </span>
      Vous organisez une competition?</h1>

    </div>
  </div>
  <div class="row">
    <div class="link-choose offset-md-2 col-md-8">
      <a routerLink="/dept/add/competition" class="list-group-item">
        <h3 class="choose">
          <i class="fas fa-trophy"></i>
          Oui
        </h3>
        <p>Avec horaire fixe ou classement, vitesse ou moyenne imposée</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <a routerLink="/dept/choose/group-circulation" class="list-group-item">
        <h3 class="choose">
        <span class="fa-stack faGlob">
          <i class="fa-stack-1x fas fa-trophy"></i>
          <i class="fa-stack-2x fa fa-ban text-danger"></i>
        </span>
          Non
        </h3>
      </a>
    </div>
  </div>
</div>

