#content{
  margin-top: 100px;
}
.content{
  margin-top: 150px;
  margin-bottom: 350px;
}
.page-head{
  background-color: #fbfbfb;
  border-color: #ddd;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  border-style: solid;
}
.h1, h1 {
  font-size: 19px;
  font-style: italic;
  letter-spacing: 0.1em;
}

a{
  text-decoration: none;
}
a:hover{
  background-color: #f5f5f5;
}
.choose{
  color: #555;
  font-size: large;
}
.fas{
  color: #015a70;
}
.link-choose{
  margin-top: 25px;
}
.faGlob{
  margin-left: -20px;
}
.Ctext{
  margin-top: 25px;
  color: #333;
}
p{
  color: #555;
}
