.content {
	margin-top: 150px;
	margin-bottom: 400px;
}

h1 {
	font-size: 19px;
	font-style: italic;
	letter-spacing: 0.1em;
	color: #015a70;
}

.page-head {
	background-color: #fbfbfb;
	border-style: solid;
	border-color: #ddd;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 5px;
	border-left-width: 1px;
	border-radius: 4px 4px 0 0;
	color: #015a70;
	font-size: 15px;
}

a {
	color: #337ab7;
	
}

h2{
	font-size: 17px;
}

.page-body{
	margin-top: 25px;
}




