<div class="content container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="page-head">

        <h1>Accueil Aide Organisateurs</h1>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
<div class="page-body">
        <p>Bienvenue sur la page d'accueil des diverses aides à votre disposition pour l'utilisation des services de la plateforme.</p>

        <p>Vous pourrez accéder aux rubriques suivantes en cliquant sur les liens.</p>

        <ul>
          <li>
            <h2><a routerLink="">Nouveautés interface organisateur</a></h2>
          </li>
        </ul>

        <p>Retrouvez ici les informations relatives aux évolutions des fonctionnalités de la plateforme</p>

        <ul>
          <li>
            <h2><a routerLink="/faq">Foire aux Questions</a></h2>
          </li>
        </ul>

        <p>Le principe : Une question spécifique =&gt; une ou plusieurs réponses adaptées</p>

        <ul>
          <li>
            <h2><a href="">Tutoriels</a></h2>

            <ul>
              <li>
                <p>Tutoriels papiers téléchargeables &nbsp; &nbsp;Des documents pédagogiques comportant des captures d'écran et des textes d'explication</p>
              </li>
              <li>Didacticiels vidéos Des vidéos de courte durée répondant à des interrogations particulières</li>
            </ul>
          </li>
          <li>
            <h2><a routerLink="">Les ressources</a></h2>
          </li>
        </ul>

        <p>La boîte à outils complémentaire&nbsp;pour vous aider dans vos démarches (dispositifs de secours / règles techniques des fédérations / synthèse des démarches / zones naturelles protégées...)</p>

        <ul>
          <li>
            <h2><a routerLink="">Les outils spécifiques</a></h2>
          </li>
        </ul>

        <p>Vous souhaitez transformer une image ou un document en pdf ? fusionner plusieurs fichiers pdf en un seul ? Des outils en ligne simples et gratuits.</p>

        <ul>
          <li>
            <h2><a routerLink="">Les formations</a></h2>
          </li>
        </ul>

        <p>Des sessions de formation gratuites vous sont proposées en partenariat avec le Comité Départemental&nbsp;Olympique et Sportif&nbsp; sur divers sites.&nbsp;</p>

        <ul>
          <li>
            <h2><a routerLink="">Géolocalisation des Equipements sportifs</a></h2>
          </li>
        </ul>

        <p>Un outil pour vous aider à identifier les équipements sportifs proches de chez vous.</p>

        <ul>
          <li>
            <h2><a href="http://www.res.sports.gouv.fr/Declaration_en_Ligne.aspx" target="_blank">Déclarer votre équipement sportif</a></h2>
          </li>
        </ul>

        <p>Propriétaire d'équipement, vous pouvez déclarer votre équipement en ligne.</p>

        <ul>
          <li>
            <h2><a routerLink="">Charte départementale d'Ecobalisage temporaire</a></h2>
          </li>
        </ul>

        <p>Soyez acteurs d'une pratique durable et responsable des sites de pratiques</p>

        <p>&nbsp;</p>
    </div>
  </div>
</div>
</div>