<div class="content container">
<div class="row">
  <div  class="page-head offset-md-2 col-md-8">
      <h1>
        <i class="fas fa-tachometer-alt"></i>
        Tableau de bord des archives
      </h1>
    <a routerLink="/authorizations/dashboard" class="returnBtn btn-primary btn-sm text-center">
      <i class="fas fa-reply"></i>
    </a>
  </div>
</div>
<div class="block row">
  <div class="offset-md-2 col-md-4 col-sm-12">
    <h3>
      <i class="far fa-gem"></i>
      Autorisations
    </h3>
  </div>
  <div class="col-md-4 col-sm-12">
    <h3>
      <i class="fas fa-bullseye"></i>
      Déclarations
    </h3>
  </div>
</div>
</div>
