.content{
  margin-top: 100px;
  margin-bottom: 400px;
}
.page-head{
  background-color: #fbfbfb;
  border-color: #ddd;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  margin-top: 30px;
}
h1{
  font-size: 19px;
  font-style: italic;
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-left: 15px;
}
.returnBtn{
  float: right;
  margin-right: 15px;
  background-color: #337ab7;
  margin-top: -35px;
  width: 55px;
}
.block{
  margin-top: 35px;
}
h3{
  font-size: 15px;
}

@media screen and (max-device-width: 420px){
  .returnBtn{
    margin-top: 5px;
  }
}
