<div class="content container-fluid">
  <div class="row">
<carousel>
    <slide>
    <div class="img">
    <img src="assets/img/carousel01.jpg" alt="">
    <div class="sliderbutton offset-md-2 col-md-6">
    <div class="butonNText carousel-caption d-none d-md-block row">
      <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
		  <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
    </div>
    </div>
  </slide>
  <slide>
    <div class="img">
    <img src="assets/img/carousel02.jpg" alt="">

      <div class="sliderbutton offset-md-2 col-md-6">
     <div class="butonNText carousel-caption d-none d-md-block">
       <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
       <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="img">
    <img src="assets/img/carousel03.jpg" alt="">
      <div class="sliderbutton offset-md-2 col-md-6">
    <div class="butonNText carousel-caption d-none d-md-block">
      <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
      <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="img">
    <img src="assets/img/carousel04.jpg" alt="">
      <div class="sliderbutton offset-md-2 col-md-6">
    <div class="butonNText carousel-caption d-none d-md-block">
      <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
      <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
    </div>
    </div>
  </slide>
  <slide>
    <div class="img">
    <img src="assets/img/carousel05.jpg" alt="">
      <div class="sliderbutton offset-md-2 col-md-6">
    <div class="butonNText carousel-caption d-none d-md-block">
      <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
      <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
    </div>
    </div>
  </slide>
  <slide>
    <div class="img">
    <img src="assets/img/carousel06.jpg" alt="">
      <div class="sliderbutton offset-md-2 col-md-6">
    <div class="butonNText carousel-caption d-none d-md-block">
      <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
      <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="img">
      <img src="assets/img/carousel07.jpg" alt="">
    <div class="sliderbutton offset-md-2 col-md-6">
    <div class="butonNText carousel-caption d-none d-md-block">
      <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
      <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
    </div>
    </div>
  </slide>
  <slide>
    <div class="img">
    <img src="assets/img/carousel08.jpg" alt="">
      <div class="sliderbutton offset-md-2 col-md-6">
    <div class="butonNText carousel-caption d-none d-md-block">
      <p class="Ctext">Démarches en ligne de déclarations et autorisation d'évènements sportifs</p>
      <a class="btn btn-secondary" routerLink="/about">EN SAVOIR PLUS</a>
    </div>
      </div>
    </div>
  </slide>

</carousel>
  </div>
</div>



