.Ctext{
  background-color: #015A70;
  height: 1%;
  float: left;
  margin-top: -19%;
  font-weight: 600;
  padding: 10px;
  text-align: left;
}

.img{
  display: block;
  width: 100%;
  height: 400px;
}
.sliderbutton{
  margin-top: -250px;
}
.btn{
  float: left;
}

@media screen and (max-width: 414px){
  .content{
    display: none;
  }
}
