<div class="content container">
<div class="row" >
  <div class="offset-md-2 col-md-8 offset-md-2">
   <div  id="contentBlockBoard" >
    <h1>
      <i class="fas fa-tachometer-alt fa-left-margin" aria-hidden="true" title="tableau de bord"></i>
      Tableau de bord
    </h1>
    <a routerLink="/authorizations/archives" class="archiveBtn btn btn-primary btn-sm">
      <i class="fas fa-file-archive"></i>
      Archives</a>
    <p id="textBlockBoard" class="alert alert-primary">
      Attention l'utilisation du service est à ce jour adapté aux préfectures ou sous préfectures en tant que services instructeurs. Des travaux sont en cours afin que
      les communes puissent être services instructeurs.
    </p>
   </div>
  </div>
</div>
<div class="block row">
  <div class="offset-md-2 col-md-4">
    <h3>
      <i class="far fa-star"></i>
      Autorisations
      <br>
    </h3>
    <div class="list-group">
      <a class="list-group-item disabled">Aucune autorisation à gérer</a>
    </div>
  </div>

  <div class="col-md-4">
    <h3>
      <i class="fas fa-shield-alt"></i>
      Déclarations
      <br>
    </h3>
    <div class="list-group">
      <a class="list-group-item disabled">Aucune déclaration à gérer</a>
    </div>
  </div>
</div>
<div class="block row">
  <div class="offset-md-2 col-md-4">
    <h3>
      <i class="fas fa-magic"></i>
      Actions  Instructeur
    </h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col"><strong>Date</strong></th>
          <th scope="col"><strong>Dossier</strong></th>
          <th scope="col"><strong>Action</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr class="backColor">
          <td></td>
          <td></td>
          <td>Aucune action sur les dossiers en cours</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="folderOrga col-md-4">
    <h3>
      <i class="fas fa-folder-open"></i>
      Dossiers organisateurs
    </h3>

    <table class="table">
      <thead>
      <tr>
        <th scope="col"><strong>Date</strong></th>
        <th scope="col"><strong>Dossier</strong></th>
        <th scope="col"><strong>Expéditeur</strong></th>
        <th scope="col"><strong>Objet</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr class="backColor">
        <td></td>
        <td></td>
        <td></td>
        <td>Aucune action sur les dossiers en cours</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</div>
