.content{
  margin-top: 100px;
  margin-bottom: 500px;
}

.archiveBtn{
  float: right;
  margin-right: 15px;
  background-color: #337ab7;
  margin-top: -30px;
}
#contentBlockBoard{
  background-color: #fbfbfb;
  border-color: #ddd;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  font-size: 15px;
  margin-top: 30px;
}


#textBlockBoard{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
}
h1 {
  font-size: 19px;
  font-style: italic;
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-left: 15px;
}
h3{
  font-size: 15px;
}
.block{
  margin-top: 35px;
}
.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
}
.table{
  border-color: #ddd;
  border-style: solid;
  height: 100%;
}
td{
  border-style: solid;
  border-color: #ddd;
  border-bottom: 0px;
  border-left: 0px;
}
th{
  border-style: solid;
  border-color: #ddd;
  border-bottom: 0px;
  border-left: 0px;
}
.backColor{
  background-color: #f9f9f9;
}


@media screen and (max-device-width: 420px){
  .folderOrga{
    margin-top: 40px;
  }
}
