<div class="content container">
  <div class="row">
    <div class="page-head col-md-12 col-sm-12">
      <h1>Mentions légales</h1>
    </div>
  </div>
  <div class="row">
    <div class="page-body col-md-12 col-sm-12">
      <h2>Informations légales</h2>
      <h3>1. Présentation du site.</h3>

      <p>
        En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique,
        il est précisé aux utilisateurs du site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>
        l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
      </p>
      <p>
        <strong>Éditeur : </strong>
        <br>
        <a href="http://www.openscop.fr/">Openscop</a>
        <br>
        Société coopérative et participative au capital social de 36 500 €
        <br>
        RCS 532 674 272 Saint-Étienne
        <br>
        Siret 532 674 272 00010 - APE 6202A
        <br>
        Adresse : 7 place Maréchal Foch, 42000 Saint-Étienne
        <br>
        Téléphone : +33 (0)4 77 36 91 35
      </p>
      <p>
        <strong>Publication</strong> :<br>
        David Réchatin<br>
        Adresse : 7 place Maréchal Foch, 42000 Saint-Étienne<br>
        ​Téléphone : +33 (0)4 77 36 91 35</p>
      <p><strong>Hébergeur</strong> :<br>
        <a href="http://www.gandi.net/">Gandi</a><br>
        Adresse :&nbsp;63-65 boulevard Massena 75013 Paris</p>
      <p><strong>Cofondateur</strong>&nbsp;:<br>
        <a href="http://www.loire.gouv.fr/direction-departementale-de-la-cohesion-sociale-a3339.html">
          Direction Départementale de la Cohésion Sociale</a> (D.D.C.S.)</p>
      <p>Tristan LACHAND<br>
        Adresse :&nbsp;10 Rue Claudius Buard, 42000 Saint-Étienne</p>

      <h3>2. Conditions générales d’utilisation du site et des services proposés.</h3>

      <p>L’utilisation du site <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
        manifestationsportive.fr</a> implique l’acceptation pleine et entière des présentes mentions légales et des
        <a href="aide/CGU/manifestationsportive">conditions générales d’utilisation</a>. Ces conditions d’utilisation
        sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site
        <a
          href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">manifestationsportive.fr
        </a>
        sont donc invités à les consulter de manière régulière.</p>

      <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance
        technique peut être toutefois décidée par Openscop, qui s’efforcera alors de communiquer préalablement aux
        utilisateurs les dates et heures de l’intervention.</p>
      <p>Le site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a> est mis à jour régulièrement par Openscop. De la même façon, les mentions
        légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y
        référer le plus souvent possible afin d’en prendre connaissance.</p>

      <h3>3. Description des services fournis.</h3>
      <p>Le site <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
        manifestationsportive.fr</a> a pour objet de fournir un ensemble de&nbsp;services pour les organisateurs
        d'évènements sportifs&nbsp;soumis à démarche administrative de déclaration ou d'autorisation ainsi qu'aux
        services en charges de l'instruction et de la validation de ces démarches.</p>

      <p>Openscop s’efforce de fournir sur le site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>
        des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions,
        des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers
        partenaires qui lui fournissent ces informations.</p>
      <p>Tous les informations indiquées sur le site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a> sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs,
        les renseignements figurant sur le site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant
        été apportées depuis leur mise en ligne.</p>

      <h3>4. Limitations contractuelles sur les données techniques.</h3>
      <p>Le site utilise et nécessite les technologies HTML, CSS et JavaScript. Celles-ci doivent être opérationnelles
        dans le&nbsp;navigateur des&nbsp;utilisateurs.&nbsp;</p>
      <p>Openscop&nbsp;ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus,
        les utilisateurs du site s’engagent à accéder au site en utilisant un matériel récent, ne contenant pas de
        virus et avec un navigateur de dernière génération mis-à-jour</p>

      <h3>5. Propriété intellectuelle et contrefaçons.</h3>
      <p>La dénomination "manifestationsportive.fr", le logo Manifestation Sportive, ainsi que les slogans,
        sont la propriété d'Openscop.&nbsp;De même, les dessins, photographies, images, textes et autres documentations
        représentés sur le présent site internet sont objets de droits de propriété industrielle et/ou intellectuelle
        et sont selon les cas, propriété d'Openscop&nbsp;ou de tiers ayant autorisé limitativement Openscop&nbsp;à
        les utiliser.</p>
      <p>En tant qu'auteurs, les utilisateurs sont les titulaires des droits moraux&nbsp;de leurs contenus.</p>
      <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments
        du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable
        d'Openscop.</p>
      <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera
        considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles
        L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

      <h3>6. Limitations de responsabilité.</h3>
      <p>Openscop ne pourra être tenue responsable des dommages directs et indirects causés au matériel de
        l’utilisateur, lors de l’accès au site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>, et résultant soit de l’utilisation d’un matériel ne répondant pas
        aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
      <p>Openscop ne pourra également être tenue responsable des dommages indirects consécutifs à l’utilisation du site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>.</p>
      <p>Des espaces interactifs sont à la disposition des utilisateurs. Openscop se réserve le droit de supprimer,
        sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation
        applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant,
        Openscop se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de
        l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel
        que soit le support utilisé (texte, photographie…).</p>

      <h3>7. Gestion des données personnelles.</h3>
      <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi
        n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
      <p>A l'occasion de l'utilisation du site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels
        l'utilisateur a accédé au site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>, le fournisseur d'accès de l'utilisateur, l'adresse de protocole Internet
        (IP) de l'utilisateur.</p>
      <p>Les informations fournies par l'utilisateur sur
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>, sont enregistrées exclusivement pour l’usage de la plateforme de services.
        Nous nous engageons à ne pas les céder à des tiers et à ne pas les utiliser à des fins non prévues.&nbsp;
        Cependant, ces données peuvent être occasionnellement transmises à des tiers agissant dans le seul cadre des
        services du site <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>.&nbsp;L'utilisateur fournit ces informations en toute connaissance de cause,
        notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a> l’obligation ou non de fournir ces informations.</p>
      <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative
        à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification
        et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée
        d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle
        la réponse doit être envoyée.</p>
      <p>Aucune information personnelle de l'utilisateur du site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a> n'est publiée à l'insu de l'utilisateur, échangée, transférée,
        cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de Openscop et
        de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait
        à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur
        du site <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a>.</p>
      <p>Le site susnommé est déclaré à la CNIL.</p>
      <p>Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant
        la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>

      <h3>8. Liens hypertextes et cookies.</h3>
      <p>Le site <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
        manifestationsportive.fr</a> contient un certain nombre de liens hypertextes vers d’autres sites.
        Cependant, Openscop n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera
        en conséquence aucune responsabilité de ce fait.</p>
      <p>La navigation sur le site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a> est susceptible de provoquer l’installation de cookie(s) sur
        l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification
        de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site.
        Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation
        à permettre diverses mesures de fréquentation.</p>
      <p>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.
        L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation
        des cookies :</p>
      <p>Sous Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) / options internet.
        Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.</p>
      <p>Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans l'onglet
        Options. Cliquer sur l'onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser les paramètres
        personnalisés pour l'historique. Enfin décochez-la pour désactiver les cookies.</p>
      <p>Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage).
        Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité",
        cliquez sur Paramètres de contenu. Dans la section "Cookies", vous pouvez bloquer les cookies.</p>
      <p>Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois
        lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section
        "Confidentialité", cliquez sur préférences. Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.</p>


      <h3>9. Droit applicable et attribution de juridiction.</h3>
      <p>Tout litige en relation avec l’utilisation du site
        <a href="http://www.manifestationsportive.fr/" title="Manifestation Sportive by Openscop">
          manifestationsportive.fr</a> est soumis au droit français. Il est fait attribution exclusive
        de juridiction au&nbsp;tribunal de Saint-Étienne.</p>

      <h3>10. Les principales lois concernées.</h3>
      <p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à
        l'informatique, aux fichiers et aux libertés.</p>
      <p>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>

      <h3>11. Lexique.</h3>
      <p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
      <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit,
        directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la
        loi n° 78-17 du 6 janvier 1978).</p>

    </div>
  </div>
</div>
