
<div class="content container">
  <div class="row">
  <div class="dash offset-md-2 col-md-8 offset-md-2">
    <h1>
      <i class="fas fa-tachometer-alt fa-left-margin" aria-hidden="true" title="tableau de bord"></i>
      Tableau de bord
    </h1>
  </div>
</div>
<div class="row">
  <div class="offset-md-2">
    <a routerLink="/events/forms_event" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>
      Déclarer une nouvelle manifestation</a>
  </div>
</div>
  <div class="contenue row">
    <div class="offset-md-2 col-md-4 col-sm-12">
      <h3><i class="fa fa-folder-open" aria-hidden="true"></i>
        Mes manifestations
      </h3>
    </div>

    <div class="col-md-4">
      <h3><i class="fa fa-magic" aria-hidden="true"></i>
        Actions Instructeur
      </h3>
      <table class="table">
      <thead>
        <tr>
          <th scope="col"><strong>Date</strong></th>
          <th scope="col"><strong>Dossier</strong></th>
          <th scope="col"><strong>Action</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr class="backColor">
          <td></td>
          <td></td>
          <td>Aucune action sur les dossiers en cours</td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>
  <div class="contenue row">
    <div class="offset-md-6 col-md-4 col-sm-12">
      <h3><i class="fa fa-folder-open" aria-hidden="true"></i>
        Dossiers organisateurs
      </h3>
      <table class="table">
      <thead>
      <tr>
        <th scope="col"><strong>Date</strong></th>
        <th scope="col"><strong>Dossier</strong></th>
        <th scope="col"><strong>Expéditeur</strong></th>
        <th scope="col"><strong>Objet</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr class="backColor">
        <td></td>
        <td></td>
        <td></td>
        <td>Aucune action sur les dossiers en cours</td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
  </div>
