.content{
  margin-bottom: 350px;
}
.dash{
  float: left;
  background-color: #fbfbfb;
  margin-top: 150px;
  border-color: #ddd;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 10px;
  border-bottom-color: lightgray;
  border-left-width: 1px;
  border-radius: 4px 4px 0 0;
  color: #015a70;
  font-size: 15px;
}
.h1, h1 {
  font-size: 19px;
  font-style: italic;
  letter-spacing: 0.1em;
}
.btn{
  margin-top: 50px;
  background-color: #337ab7;
}
h3{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}
.contenue{
  margin-top: 50px;
}
.table{
  border-color: #ddd;
  border-style: solid;
  height: 100%;
}
td{
  border-style: solid;
  border-color: #ddd;
  border-bottom: 0px;
  border-left: 0px;
}
th{
  border-style: solid;
  border-color: #ddd;
  border-bottom: 0px;
  border-left: 0px;
}
.backColor{
  background-color: #f9f9f9;
}








