<div class="content container">
  <div class="page-head row">
    <div class="col-md-12 col-sm-12">
      <h1>Aide & infos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <p>Bienvenue dans l'espace d'aide et d'information.</p>
        <p>
          La documentation est en cours de ré écriture complète.
          <br>

          En attendant, nous vous invitons à consulter l'
          <a routerLink="/faq">ancienne documentation</a>
        </p>
    </div>
  </div>
</div>
