<div class="content container">
  <div class="row">
    <div class="form-group col-md-6 col-sm-6">
      <label for="monthFilter"><strong>Sélectionner le mois : </strong></label>
      <select class="form-control" id="monthFilter">
        <option>----------</option>
        <option>JANVIER</option>
        <option>FEVRIER</option>
        <option>MARS</option>
        <option>AVRIL</option>
        <option>MAI</option>
        <option>JUIN</option>
        <option>JUILLET</option>
        <option>AOUT</option>
        <option>SEPTEMBRE</option>
        <option>OCTOBRE</option>
        <option>NOVEMBRE</option>
        <option>DECEMBRE</option>
      </select>
    </div>

    <div class="form-group col-md-6 col-sm-6">
      <label for="sportFilter"><strong>Sélectionner le Sport : </strong></label>
      <select class="form-control" id="sportFilter">
        <option>-----------</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 offset-md-2 col-md-8">
      <a (click)="showFiller = !showFiller" class="btn">
      <ul class="event-list">
        <li>
          <time datetime="2014-07-20">
            <span class="day">4</span>
            <span class="month">Jul</span>
            <span class="year">2014</span>
            <span class="time">ALL DAY</span>
          </time>
          <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
          <div class="info">
            <h2 class="title">Independence Day</h2>
            <p class="desc">United States Holiday</p>
          </div>
        </li>
      </ul>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 offset-md-3 col-md-6 offset-lg-3 col-lg-4">
      <div class="showtxt" *ngIf="showFiller">
        <div class="showtxt">
          <p>Cources de vaisseau spatial</p>
        </div>
        <div class="showtxt">
          <p>
            <i class="far fa-calendar-alt"></i>
            <strong> Début :</strong>
          </p>
        </div>
        <div class="showtxt">
          <p>
            <i class="far fa-calendar-alt"></i>
            <strong> Fin :</strong>
          </p>
        </div>
        <div class="showtxt">
          <p>
            <i class="far fa-square"></i>
            <strong> Sport :</strong>
          </p>
        </div>
        <div class="showtxt">
          <p>
            <i class="fas fa-road"></i>
            <strong> Sur voie publique ou ouverte à la circulation publique :</strong>
          </p>
        </div>
        <div class="showtxt">
          <p>
            <i class="far fa-flag"></i>
            <strong> Commune de départ :</strong>
          </p>
        </div>
        <div class="showtxt">
          <p>
            <i class="far fa-flag"></i>
            <strong> Commune traversées :</strong>
          </p>
        </div>
        <div class="showtxt">
          <p>
            <i class="far fa-address-book"></i>
            <strong> Informations de contact :</strong><br>
            Centre de réparation spatial<br>
            1086 rue de Pluton<br>
            80000 Flamigo<br>
            <strong>Téléphone :</strong>
            -33+7 825236540
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
